html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Merriweather Sans', sans-serif;
    color: #40514E;
}
h1 {
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}
h2 {
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    line-height: 2;
    padding-bottom: 10px;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    margin: 0;
}
a {
    color: #11999E;
    text-decoration: none;
}
img {
    max-width: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    background-color: #E4F9F5;
    text-align: center;
    position: relative;
    padding-top: 70px;
}
.cloud-top {
    position: absolute;
    right: 285px;
    top: 30px;
}
.header h1 {
    text-align: center;
    margin: 0;
    display: block;
    padding-top: 50px;
    font-size: 90px;
}
.cloud {
    position: absolute;
}
.mount {
    position: relative;
}
.middle-container {
    text-align: center;
}
.middle-container h2 {
    margin: 0;
}
hr {
    border: #EAF6F6 6px dotted;
    width: 5%;
}
#bio {
    width: 30%;
    margin: auto;
    line-height: 1.5;
}
.middle-container img {
    max-width: 150px;
    border-radius: 50%;
}
img#myProfilePicture {
    margin-top: 3rem;
    max-width: 400px;
}
.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}
.float-left {
    width: 25%;
    float: left;
    margin-right: 30px;
}
.float-right {
    width: 25%;
    float: right;
    margin-left: 20px;
}

/* PROJECTS SECTION */

.projects {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
}
@media (min-width: 960px) {
    .projects {
        justify-content: space-evenly;
        overflow-x: unset;
    }
}
.projects h3:hover {
    color: #13bbe6;
}
.projects img {
    max-width: 400px;
    width: 200px;
    filter: brightness(.5);
    height: 200px;
    transition: all .5 ease-out;
    border: 1px solid #ccc;
    margin-top: 2rem;
}
.projects a:hover img {
    filter: brightness(1);
    animation: bounce .7s ease-out;
}
@keyframes bounce {
    0% {
        transform: translateY(0px)
    }
    25% {
        transform: translateY(-5px)
    }
    50% {
        transform: translateY(0px)
    }
    75% {
        transform: translateY(5px)
    }
    100% {
        transform: translateY(0px)
    }
}

/* Buttons */

.bottom-container {
    background-color: #11999E;
    line-height: 2;
}
.bottom-container img {
    width: 2rem;
    margin-top: 1rem;
}
.bottom-container img:hover {
    animation: bounce .5s ease-in-out;
}
.contact-me {
    text-align: center;
    margin-bottom: 30px;
}
.myButton {
    background-color: #45a4c7;
    border-radius: 39px;
    border: 1px solid #209e93;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 12px 41px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #c6f0c0;
    margin: 30px auto;
}
.myButton:hover {
    background-color: #13bbe6;
}
.myButton:active {
    position: relative;
    top: 1px;
}
.contact-msg {
    width: 40%;
    margin: auto;
}
.bottom-container p {
    margin: 0;
    color: #fff;
    text-align: center;
}